{% extends 'base.html' %} 
{% block content %}
<h1>About WatchBox</h1>
<hr />
<p class="page-content">
    Tired of endlessly scrolling through streaming platforms, wondering “What should I watch next?” or “Did I already watch that one?” Well, say hello to WatchBox!
</p>

<p class="page-content">
    With WatchBox, you can:
</p>

<ul class="page-content">
    <li>- Track Your Viewing Habits: Log every TV show, movie, or docuseries you've watched.</li>
    <li>- Create a Watchlist: Got an endless list of “I'll watch this later” recommendations? Now it's easy to remember what you've been meaning to watch for months.</li>
    <li>- Rate your shows: Keep track of what you've enjoyed and what you haven't!</li>
</ul>

{% endblock %}