{% extends 'base.html' %} 
{% load static %} 

{% block head %}
  <link rel="stylesheet" href="{% static 'css/media/media-detail.css' %}" />
{% endblock %} 

{% block content %}
<section class="media-container">
  <div class="media-img">
    <img src="{{ media.poster }}" alt="{{ media.title }} poster"/>
  </div>

  <div class="media-details">
    <h2>{{ media.title }}</h2>
    <h1>A {{ media.type }} which you can watch on {{ media.location }}</h1>

    {% if media.is_viewed %}
      <h1>You have watched this!</h1>
    {% else %}
      <h1>You've not watched this yet!</h1>
    {% endif %}
  </div>

  <div class="media-actions">
    <a href="{% url 'media-update' media.id %}" class="btn warn">Edit</a>
    <a href="{% url 'media-delete' media.id %}" class="btn danger">Delete</a>
  </div>

  <h1>Add a Review</h1>
  <form action="{% url 'add-review' media.id %}" method="post" class="subsection-content" autocomplete="off">
    {% csrf_token %}
    {{ review_form.as_p }}
    <button type="submit" class="btn submit">Add Review</button>
    <table>
      <thead>
        <tr>
          <th>Rating</th>
          <th>Review</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
          <tr>
            <td>{% if review.rating %}{{ review.get_rating_display }}{% else %}No rating provided{% endif %}</td>
            <td>{% if review.text %}{{ review.text }}{% else %}No review provided{% endif %}</td>
            <td>{{ review.user }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
=======
</section>
{% endblock %}