{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/media/media-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Your WatchBox</h1>
</section>

{% if media %}
  <section class="card-container">
    {% for media in media %}
      <div class="card">
        <a href="{% url 'media-detail' media.id %}">
          <div class="card-content">
            <div class="card-img-container">
              <img src="{{ media.poster }}" alt="{{ media.title }} poster"/>
            </div>
            <h2 class="card-title">{{ media.title }}</h2>
            <p>A {{ media.type }} which you can watch on {{ media.location }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>
{% else %}
  <section class="empty-watchbox">
    <p>Your WatchBox is currently empty! Add to it today to get started.</p>
  </section>
{% endif %}

{% endblock %}